<body id="top">

  <!-- start preloader -->
  <div class="preloader">
    <div class="sk-spinner sk-spinner-wave">
        <div class="sk-rect1"></div>
          <div class="sk-rect2"></div>
          <div class="sk-rect3"></div>
          <div class="sk-rect4"></div>
          <div class="sk-rect5"></div>
      </div>
    </div>
    <!-- end preloader -->

      <!-- start header -->
      <header>
          <div class="container">
              <div class="row">
                  <div class="col-md-3 col-sm-4 col-xs-12">
                      <p><i class="fa fa-phone"></i><span> Phone</span>COMING SOON!!!</p>
                  </div>
                  <div class="col-md-3 col-sm-4 col-xs-12">
                      <p><i class="fa fa-envelope-o"></i><span> Email</span><a href="#">support@senaffairs.com</a></p>
                  </div>
                  <div class="col-md-5 col-sm-4 col-xs-12">
                      <ul class="social-icon">
                          <li><span>Meet us on</span></li>
                          <li><a href="https://www.facebook.com/SenAffairs-2572823699462174/?view_public_for=2572823699462174" target="_blank" class="fa fa-facebook"></a></li>
                          <li><a href="https://twitter.com/senaffairs" target="_blank" class="fa fa-twitter"></a></li>
                          <li><a href="https://www.instagram.com/senaffairs/" target="_blank" class="fa fa-instagram"></a></li>
                          <li><a href="https://www.youtube.com/channel/UC4Jp1oycJLiYKorXLt4-bRw/featured?view_as=subscriber" target="_blank" class="fa fa-youtube-play"></a></li>
                      </ul>
                  </div>
              </div>
          </div>
      </header>
      <!-- end header -->

    <!-- start navigation -->
  <nav class="navbar navbar-default templatemo-nav" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon icon-bar"></span>
          <span class="icon icon-bar"></span>
          <span class="icon icon-bar"></span>
        </button>

        <%= link_to root_path do %>
        <%= image_tag "/assets/SenAffairs-Transparent.png", style: "width: 300px; height: 150px;", class: "navbar-brand" %>
        <% end %>
      </div>

      <!-- <img src="/assets/SenAffairs-Transparent.png" style="width: 300px; height: 150px;" alt=""> -->

      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#top">HOME</a></li>
          <li><a href="#about">ABOUT</a></li>
          <li><a href="#team">TEAM</a></li>
          <li><a href="#service">SERVICE</a></li>
          <li><a href="#portfolio">PORTFOLIO</a></li>
          <li><a href="#contact">CONTACT</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- end navigation -->

    <!-- start home -->
    <section id="home">
      <div class="container">
        <div class="row">
          <div class="col-md-offset-2 col-md-8">
            <h1 class="wow fadeIn" data-wow-offset="50" data-wow-delay="2.9s">Ta Solution, c'est <span>NOUS!</span></h1>
            <h1 class="wow fadeIn" data-wow-offset="50" data-wow-delay="2.9s">Your Solution is <span>US!</span></h1>
            <div class="element">
                          <div class="sub-element">Hello, we are SenAffairs</div>
                          <div class="sub-element">A company that actually will help people with their legal stuff </div>
                          <div class="sub-element">We also offer lots of different services such as business plans, etude de projets</div>
                      </div>
            <!-- <a data-scroll href="#about" class="btn btn-default wow fadeInUp" data-wow-offset="50" data-wow-delay="0.6s">GET STARTED</a> -->
          </div>
        </div>
      </div>
    </section>
    <!-- end home -->

    <!-- start about -->
  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
            <h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s">WE ARE <span>SENAFFAIRS</span></h2>
          </div>
        <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInLeft" data-wow-offset="50" data-wow-delay="0.6s">
          <div class="media">
            <div class="media-heading-wrapper">
              <div class="media-object pull-left">
                <i class="fa fa-bullseye"></i>
              </div>
              <h3 class="media-heading">À PROPOS</h3>
            </div>
            <div class="media-body">
              <p class="list"><a rel="nofollow" href="http://senaffairs.com" target="_parent"> SenAffairs</a>, établie et situé à Dakar - Sénégal est une agence d’affaires spécialisée dans la consultance, l’intermédiation et la relation gouvernementale au Sénégal.
              En outre, compte tenu de l’expérience de son équipe dans le domaine étatique, l’Agence propose aux sénégalais de l’extérieur porteurs de grands projets nécessitant des facilitations de l’Etat à travers ses différentes structures, de leur effectuer toutes les démarches nécessaires pour que le projet s’exécute dans les meilleures conditions. La création de SenAffairs se veut, en effet, une réponse pertinente et adéquate aux multiples difficultés dont sont victimes les émigrés, qui ont pour noms : manque d’informations sur démarches administratives, tracasseries administratives, non maitrise de l’environnement des affaires etc. </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInLeft" data-wow-offset="50" data-wow-delay="0.6s">
          <div class="media">
            <div class="media-heading-wrapper">
              <div class="media-object pull-left">
                <i class="fa fa-bullseye"></i>
              </div>
              <h3 class="media-heading">MISSION</h3>
            </div>
            <div class="media-body">
              <p class="list"><a rel="nofollow" href="http://senaffairs.com" target="_parent">SenAffairs</a> se fixe, en effet, pour mission d’accompagner les Sénégalais de la diaspora vivant à l’étranger (France, Italy, Espagne, Etats Unies, Canada….) dans toutes leurs démarches administratives d’obtention de documents auprès des services de l’Etat, mais aussi de les appuyer, en terme de conseils et d’accompagnement, dans tous leurs projets d’investissement de quelque nature que ce soit. </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-offset="50" data-wow-delay="0.9s">
          <div class="media">
            <div class="media-heading-wrapper">
              <div class="media-object pull-left">
                <i class="fa fa-eye"></i>
              </div>
              <h3 class="media-heading">VISION</h3>
            </div>
            <div class="media-body">
              <p class="list">La vision de <a rel="nofollow" href="http://senaffairs.com">SenAffairs</a> est de se positionner comme la première structure privée leader dans l'information et l'accompagnement des sénégalais de l'exterieur dans leurs démarches administratives et projets d'investissements au Sénégal.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-offset="50" data-wow-delay="0.9s">
          <div class="media">
            <div class="media-heading-wrapper">
              <div class="media-object pull-left">
                <i class="fa fa-ellipsis-v"></i>
              </div>
              <h3 class="media-heading">VALEUR</h3>
            </div>
            <div class="media-body">
              <p class="list"> Ainsi <a rel="nofollow" href="http://senaffairs.com">SenAffairs</a>, prend en charge les dossiers de sa clientèle, et s’engage, en à assurer un suivi minutieux et rigoureux avec un reporting périodique sur l’état d’avancement et le respect des délais. Tous les services offerts par l’Agence sont effectués conformément aux dispositions législatives et réglementaires en vigueur au Sénégal.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInLeft" data-wow-offset="50" data-wow-delay="0.6s">
          <div class="media">
            <div class="media-heading-wrapper">
              <div class="media-object pull-left">
                <i class="fa fa-arrows-alt"></i>
              </div>
              <h3 class="media-heading">NOS ATOUTS</h3>
            </div>
            <div class="media-body">
              <p class="list">We provide legal services <a rel="nofollow" href="http://www.senaffairs.com" target="_parent">with SenAffairs</a> a website that will help and educate you about legal paper work </p>

              <ul class="list-group">
                <li class="list-group-item">Equipe experimentée et diversifée</li>
                <li class="list-group-item">Maitrise des peocédures administratives et du processus de mise en place de projets</li>
                <li class="list-group-item">Disponibilité et réactivité de son équipe</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInRight" data-wow-offset="50" data-wow-delay="0.6s">
          <div class="media">
            <div class="media-heading-wrapper">
              <div class="media-object pull-left">
                <i class="fa fa-arrow-circle-o-right"></i>
              </div>
              <h3 class="media-heading">NOS ENGAGEMENTS</h3>
            </div>
            <div class="media-body">
              <p class="list">Les Engagements de SenAffairs, dans le cadre de ses prestations de services sont:</p>
              <ul class="list-group">
                <li class="list-group-item">La FIABILITÉ de toutes ses opérations</li>
                <li class="list-group-item">La RAPIDITÉ dans le traitement des dossiers</li>
                <li class="list-group-item">La CONFIDENTIALITÉ des informations relatives aux procédures et aux projets</li>
                <li class="list-group-item">La RESPONSABILITÉ par rapport à la bonne gestion des dossiers</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end about -->

    <!-- start team -->
    <section id="team">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s"><span>SENAFFAIRS</span> TEAM</h2>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="1.3s">
            <div class="team-wrapper">
              <img src="/assets/paMalick.jpeg" class="img-responsive" alt="team img 1">
              <div class="team-des">
                <h4>COLONEL MALICK CISSÉ</h4>
                <span>Government Relations Consultant</span>
                <p>For over four decades, Mr. Malick Cisse has acquired so much experience into the senegalese government</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="1.6s">
            <div class="team-wrapper">
              <img src="/assets/cheikh.jpeg" class="img-responsive" alt="team img 2">
              <div class="team-des">
                <h4>CHEIKH NDIONGUE</h4>
                <span>Business & Technology Consultant</span>
                <p>Cheikh Ndiongue is a very ambitious business savy person and will help you with a great customer service and ...</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="1.3s">
            <div class="team-wrapper">
              <img src="/assets/amar.jpeg" class="img-responsive" alt="team img 3">
                <div class="team-des">
                  <h4>ABDOULAYE AMAR</h4>
                  <span>Business & Legal Consultant</span>
                  <p>Mr. Amar is a great and reliable person to handle all of your legal paperwork.</p>
                </div>
            </div>
          </div>
          <!-- <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="1.6s">
            <div class="team-wrapper">
              <img src="/assets/team-img4.jpg" class="img-responsive" alt="team img 4">
                <div class="team-des">
                  <h4>LINDA</h4>
                  <span>Manager</span>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elitquisque tempus ac eget diam et laoreet phasellus ut nisi id leo molest.</p>
                </div>
            </div>
          </div> -->
        </div>
      </div>
    </section>
    <!-- end team -->

    <!-- start service -->
    <section id="service">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s">OUR <span> / NOS </span> SERVICES</h2>
          </div>
          <div class="col-md-4 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
            <i class="fa fa-laptop"></i>
            <h4>Web Design & Development</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elitquisque tempus ac eget diam et laoreet phasellus ut nisi id leo molestie. Adipiscing vitae vel quam proin eget mauris eget. Lorem ipsum dolor sit amet, consectetur adipiscing elitquisque tempus ac eget diam et laoreet phasellus ut nisi id leo molestie.</p>
          </div>
          <div class="col-md-4  wow fadeIn" data-wow-offset="50" data-wow-delay="0.9s">
            <i class="fa fa-cloud"></i>
            <h4>Legal Consulting</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elitquisque tempus ac eget diam et laoreet phasellus ut nisi id leo molestie. Adipiscing vitae vel quam proin eget mauris eget. Lorem ipsum dolor sit amet, consectetur adipiscing elitquisque tempus ac eget diam et laoreet phasellus ut nisi id leo molestie.</p>
          </div>
          <div class="col-md-4 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
            <i class="fa fa-cog"></i>
            <h4>Business Planning</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elitquisque tempus ac eget diam et laoreet phasellus ut nisi id leo molestie. Adipiscing vitae vel quam proin eget mauris eget. Lorem ipsum dolor sit amet, consectetur adipiscing elitquisque tempus ac eget diam et laoreet phasellus ut nisi id leo molestie.</p>
          </div>
          <div class="col-md-4 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
            <i class="fa fa-cog"></i>
            <h4>Business & Tech Consulting</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elitquisque tempus ac eget diam et laoreet phasellus ut nisi id leo molestie. Adipiscing vitae vel quam proin eget mauris eget. Lorem ipsum dolor sit amet, consectetur adipiscing elitquisque tempus ac eget diam et laoreet phasellus ut nisi id leo molestie.</p>
          </div>
          <div class="col-md-4 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
            <i class="fa fa-cog"></i>
            <h4>Étude De Projét</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elitquisque tempus ac eget diam et laoreet phasellus ut nisi id leo molestie. Adipiscing vitae vel quam proin eget mauris eget. Lorem ipsum dolor sit amet, consectetur adipiscing elitquisque tempus ac eget diam et laoreet phasellus ut nisi id leo molestie.</p>
          </div>
          <div class="col-md-4 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
            <i class="fa fa-cog"></i>
            <h4>Government relations</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elitquisque tempus ac eget diam et laoreet phasellus ut nisi id leo molestie. Adipiscing vitae vel quam proin eget mauris eget. Lorem ipsum dolor sit amet, consectetur adipiscing elitquisque tempus ac eget diam et laoreet phasellus ut nisi id leo molestie.</p>
          </div>
        </div>
      </div>
    </section>
    <!-- end servie -->

    <!-- start portfolio -->
    <section id="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s"><span>D'AUTRE</span> SERVICES</h2>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
                      <div class="portfolio-thumb">
               <img src="/assets/portfolio-img1.jpg" class="img-responsive" alt="portfolio img 1">
                              <div class="portfolio-overlay">
                                  <h4>Location, achat et occupation d'un bien immobilier</h4>
                                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elitquisque tempus ac eget dia.</p>
                                  <a href="#" class="btn btn-default">DETAIL</a>
                              </div>
                      </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
                      <div class="portfolio-thumb">
                         <img src="/assets/portfolio-img2.jpg" class="img-responsive" alt="portfolio img 2">
                              <div class="portfolio-overlay">
                                  <h4>Normalisation, qualité, agréments, autorisations et licences</h4>
                                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elitquisque tempus ac eget dia.</p>
                                  <a href="#" class="btn btn-default">DETAIL</a>
                              </div>
                      </div>
                  </div>
                  <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
                      <div class="portfolio-thumb">
                         <img src="/assets/portfolio-img3.jpg" class="img-responsive" alt="portfolio img 3">
                              <div class="portfolio-overlay">
                                  <h4>Construction, modification et démolition</h4>
                                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elitquisque tempus ac eget dia.</p>
                                  <a href="#" class="btn btn-default">DETAIL</a>
                              </div>
                      </div>
                  </div>
                  <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
                      <div class="portfolio-thumb">
                         <img src="/assets/portfolio-img4.jpg" class="img-responsive" alt="portfolio img 4">
                              <div class="portfolio-overlay">
                                  <h4>Transmission et cessation d'activité</h4>
                                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elitquisque tempus ac eget dia.</p>
                                  <a href="#" class="btn btn-default">DETAIL</a>
                              </div>
                      </div>
                  </div>
                  <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
                      <div class="portfolio-thumb">
                         <img src="/assets/portfolio-img3.jpg" class="img-responsive" alt="portfolio img 3">
                              <div class="portfolio-overlay">
                                  <h4>...</h4>
                                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elitquisque tempus ac eget dia.</p>
                                  <a href="#" class="btn btn-default">DETAIL</a>
                              </div>
                      </div>
                  </div>
                  <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
                      <div class="portfolio-thumb">
                         <img src="/assets/portfolio-img4.jpg" class="img-responsive" alt="portfolio img 4">
                              <div class="portfolio-overlay">
                                  <h4>...</h4>
                                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elitquisque tempus ac eget dia.</p>
                                  <a href="#" class="btn btn-default">DETAIL</a>
                              </div>
                      </div>
                  </div>
                  <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
                      <div class="portfolio-thumb">
                         <img src="/assets/portfolio-img1.jpg" class="img-responsive" alt="portfolio img 1">
                              <div class="portfolio-overlay">
                                  <h4>...</h4>
                                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elitquisque tempus ac eget dia.</p>
                                  <a href="#" class="btn btn-default">DETAIL</a>
                              </div>
                      </div>
                  </div>
                  <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
                      <div class="portfolio-thumb">
                         <img src="/assets/portfolio-img2.jpg" class="img-responsive" alt="portfolio img 2">
                              <div class="portfolio-overlay">
                                  <h4>...</h4>
                                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elitquisque tempus ac eget dia.</p>
                                  <a href="#" class="btn btn-default">DETAIL</a>
                              </div>
                      </div>
                  </div>
        </div>
      </div>
    </section>
    <!-- end portfolio -->

    <!-- start contact -->
    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s">CONTACT <span>SENAFFAIRS</span></h2>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-offset="50" data-wow-delay="0.9s">
            <form action="#" method="post">
              <label>NAME</label>
              <input name="fullname" type="text" class="form-control" id="fullname">

                          <label>EMAIL</label>
              <input name="email" type="email" class="form-control" id="email">

                          <label>MESSAGE</label>
              <textarea name="message" rows="4" class="form-control" id="message"></textarea>

                          <input type="submit" class="form-control">
            </form>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12 wow fadeInRight" data-wow-offset="50" data-wow-delay="0.6s">
            <address>
              <p class="address-title">OUR ADDRESS</p>
              <span>Dakar - Senegal</span>
              <p><i class="fa fa-phone"></i>COMING SOON!!!</p>
              <p><i class="fa fa-envelope-o"></i> support@senaffairs.com</p>
              <p><i class="fa fa-map-marker"></i> Dakar - Senegal</p>
            </address>
            <ul class="social-icon">
              <li><h4>WE ARE SOCIAL</h4></li>
              <li><a href="https://www.facebook.com/SenAffairs-2572823699462174/?view_public_for=2572823699462174" target="_blank" class="fa fa-facebook"></a></li>
              <li><a href="https://twitter.com/senaffairs" target="_blank" class="fa fa-twitter"></a></li>
              <li><a href="https://www.instagram.com/senaffairs/" target="_blank" class="fa fa-instagram"></a></li>
              <li><a href="https://www.youtube.com/channel/UC4Jp1oycJLiYKorXLt4-bRw/featured?view_as=subscriber" target="_blank" class="fa fa-youtube-play"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <!-- end contact -->

      <!-- start copyright -->
      <footer id="copyright">
          <div class="container">
              <div class="row">
                  <div class="col-md-12 text-center">
                      <p class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s">
                      Copyright &copy; 2019 SenAffairs</p>
                  </div>
              </div>
          </div>
      </footer>
      <!-- end copyright -->

</body>
